name: Lint Python code with Ruff & mypy

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**.py"
  pull_request:
    paths:
      - "**.py"

permissions:
  contents: read

env:
  PYTHON_VERSION: 3.14

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --locked

      - name: Running ruff
        run: |
          uv run ruff check .
          uv run ruff format --check --diff

  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked

      - name: Running mypy
        run: uv run mypy jetpytools tests
